@CHARSET "UTF-8";

a, img {
	border:none;
	outline:none;
}

.clr {
	clear: both;
	line-height: 0;
	margin: 0;
	padding: 0;
}

.login-buttons {
	width: 620px;
	height: 30px;
	/* outline: 1px solid red; */
	margin:7px 0 0 0px;
	padding:0;
}

.login-buttons .message {
	/* outline: 1px solid red; */
	font-size: 12px;
	margin:0 10px 0 0px;
	padding:0;
	color: #00468F;
	text-align:left;
	float:right;
}

.login-buttons .username {
	/* outline: 1px solid red; */
	font-size: 12px;
	margin:0 10px 0 0px;
	padding:0;
	color:  #00468F;
	font-weight:bold;
	text-align:left;
	float:right;
}

.login-buttons .login-buttons-login {
	font-size: 12px;
	color: #e30133;
	display:block;
	float:right; 
	margin: 0 15px 0 0;
	padding:0;
	/* outline: 1px solid green; */
}

.login-buttons .login-buttons-register {
	font-size: 12px;
	color: #00468f;
	display:block;
	float:right; 
	margin: 0 15px 0 0;
	padding:0;
	/* outline: 1px solid blue; */
}

.modal-container {
	display:none;
	width: 100%;
	height:100%;
	position:fixed;
	background: url('/images/sunny/modal-overlay.png');
	margin: 0;
	padding: 0;
	z-index:100;
}

.modal-container .sunny-form {
	position: absolute;
	z-index:200;
	width:377px;
	/* outline:1px solid red; */
	margin:113px 0 0 400px;
}

.modal-container .sunny-form .sunny-form-tabs {
	width:377px;
	height:37px;
}

.modal-container .sunny-form .sunny-form-tabs .tabs-list {
	width:377px;
	height:37px;
	margin:0;
	padding:0;
	list-style:none;
}

.modal-container .sunny-form .sunny-form-tabs .tabs-list li {
	margin: 0 5px 0 0;
	float:left;
	cursor:pointer;
}

.modal-container .sunny-form .sunny-form-tabs .tabs-list li span {
	color: #4d4d4d;
	display:block;
	font-size:16px;
	margin:8px 0 0 8px;
}

.modal-container .sunny-form .sunny-form-tabs .tabs-list .login {
	width: 61px;
	height:37px;
	background: url('/images/sunny/login-tab.png') top left no-repeat;
}

.modal-container .sunny-form .sunny-form-tabs .tabs-list .login-active {
	width: 61px;
	height:37px;
	background: url('/images/sunny/login-tab-active.png') top left no-repeat;
}

.modal-container .sunny-form .sunny-form-tabs .tabs-list .register {
	width: 166px;
	height:37px;
	background: url('/images/sunny/register-tab.png') top left no-repeat;
}

.modal-container .sunny-form .sunny-form-tabs .tabs-list .register-active {
	width: 166px;
	height:37px;
	background: url('/images/sunny/register-tab-active.png') top left no-repeat;
}

.sunny-form-body-top {
	width: 377px;
	height:7px;
	background: url('/images/sunny/form-body-top.png') top left no-repeat;
}

.sunny-form-body {
	width: 377px;
	background: #f4f6f7;
	position:relative;
}

.sunny-form-body .close {
	width: 9px;
	height:9px;
	background: url('/images/sunny/close-button.png') top left no-repeat;
	position:absolute;
	right:7px;
}

.sunny-form-body .sunny-form-body-form {
	width: 338px;
	padding: 12px 24px 5px 15px;
}

.sunny-form-body .sunny-form-body-form-login {
	width: 338px;
	padding: 12px 24px 5px 15px;
}

.sunny-form-body-form-login .sunny-form-label {
	width: 85px;
	float:left;
	margin:0 8px 10px 0;
	font-size:13px;
	color: #4d4d4d;
	text-align:right;
}

.sunny-form-body-form-login .sunny-form-element {
	width: 245px;
	float:right;
	margin:0 0 10px 0;
}

.sunny-form-body-form-login .sunny-form-element .sunny-form-text {
	width: 205px;
}

.forgot-password {
	font-size:11px;
	color: #0075c0;
}

.sunny-form-login-button {
	width: 90px;
	height:24px;
	background: url('/images/sunny/login-button.png') bottom left no-repeat;
	border:0px;
	color:#fff;
	margin:0 0 0 120px;
	display:block;
}

.sunny-form-body-form .sunny-form-login-button {
	width: 90px;
	height:24px;
	background: url('/images/sunny/login-button.png') bottom left no-repeat;
	border:0px;
	color:#fff;
	margin:0 0 0 35px;
	display:block;
}

.sunny-form-body-bottom {
	width: 377px;
	height:6px;
	background: url('/images/sunny/form-body-bottom.png') bottom left no-repeat;
}

.sunny-form-label {
	width: 165px;
	float:left;
	margin:0 8px 10px 0;
	font-size:13px;
	color: #4d4d4d;
	text-align:right;
}

.sunny-form-element {
	width: 165px;
	float:right;
	margin:0 0 10px 0;
}

.sunny-form-element .sunny-form-text {
	width: 165px;
}

.sunny-form-element .remarc {
	text-align:center;
	font-size:10px;
}


#sunny-form-error,
#sunny-form-error-register {
	color:red;
	padding: 12px 24px 5px 15px;
	text-align:center;
}

#sunny-form-success,
#sunny-form-success-register {
	color:green;
	padding: 12px 24px 5px 15px;
	text-align:center;
}

.stat_tbl {
	margin:25px 15px 25px 15px;
}

.stat_tbl thead td {
	border:1px solid #ccc;
	color:#000;
	font-weigth:bold;
}

.stat_tbl tbody td {
	border:1px solid #ccc;
	color:#000;
	
}

.knowledgebase {
	padding:0 0 15px 0;
	background: url(/images/design/h_menu_lines.jpg) bottom left repeat-x;
	width:190px;
	margin:0 0 25px 0;
}

.knowledgebase .thumbnail {
	width:80px;
	margin:0 10px 0 0; 
	float:left;
}

.knowledgebase .title {
	width:100px;
	float:right;
}

.knowledgebase .title .main-title {
	margin: 0 0 10px 0;
}

.knowledgebase .title .content-title {
	margin: 0 0 10px 0;
}

.actions {
	padding:0 0 15px 0;
	background: url(/images/design/h_menu_lines.jpg) bottom left repeat-x;
	width:190px;
	margin:0 0 25px 0;
}

.actions .thumbnail {
	width:80px;
	margin:0 10px 0 0; 
	float:left;
}

.actions .title {
	width:100px;
	float:right;
}

.actions .title .main-title {
	margin: 0 0 10px 0;
}

.actions .title .content-title {
	margin: 0 0 10px 0;
}

.mainmenu {
	width:218px;
	background: url(/images/design/h_menu_lines.jpg) top left repeat-x;
	padding:0px 0 5px 0;
}

.mainmenu .main {
	margin:0;
	padding:0;
	list-style:none;
}

.mainmenu .main li {
	background: url(/images/design/h_menu_lines.jpg) bottom left repeat-x;
	padding:7px 0 5px 0;
}

.mainmenu .main li .sub {
	margin:3px 0 0 0;
	padding:10px 0 10px 0;
	list-style:none;
	background: url(/images/design/h_menu_lines.jpg) top left repeat-x;
}

.mainmenu .main li .hidden {
	display:none;
}

.mainmenu .main li .sub li {
	background: none;
	display:block;
	margin:0 0 0 45px;
	padding:0 0 3px 0;
}

.mainmenu .main li .sub li .active {
	color: #D92822;
	font-weight: bold;
}

.mainmenu .main li .sub li .inactive {
	color: #00468F;
	font-weight: bold;
}

.kb-list {
	
}

.kb-list .kb-item {
	margin: 0 0 20px 0;
}

.kb-list .kb-item .kb-title {
	margin: 0 0 5px 0;
	display:block;
}

.kb-list .kb-item .kb-title .nan {
	color:#ccc;
}

.kb-list .kb-item .kb-title .pay {
	color:red;
}

.kb-list .kb-item .kb-title .free {
	color:green;
}

.kb-list .kb-item div {
	
}

.header-contents {
	width:771px;
	height:121px;
	background:url(/images/design/header_ugol.jpg) top left no-repeat #B2DEF7;
	padding:0 0 0 37px;
}

.header-contents .header-panel {
	
}

.header-contents .header-title {
	width:771px;
	height:60px;
	position:relative;
}

.header-contents .header-title h1{
	width:771px;
	font-size:22px;
	font-weight:normal;
	margin:0;
	padding:0;
	position:absolute;
	bottom:0;
}

.header-contents .header-panel .panel {
	float:right;
	margin:0 15px 0 0;
}

.header-contents .header-panel .links {
	float:right;
	margin: 5px 0 0 0;
}

.index-panel {
	float:right;
}

.main_btn {
	float:right;
	padding:5px 0 0 0 !important;
}

.header-panel-wrapper {
	text-align:left;
	width:670px;
	margin:0 0 0 20px;
}

.header-panel-wrapper .links {
	float:right;
	margin:7px 0 0 0;
}

.header-panel-wrapper .index-panel {
	margin:2px 0 0 0;
}

.header-panel-wrapper .subscribe {
	
}

#links-box {
	width:600px;
}

#links-box .links-element {
	width:600px; 
	margin:10px 15px 20px 15px;
	border:1px solid #ccc;
	background:#fff;
	padding:15px 15px 5px 15px;
}

#links-box .links-element .label {
	float:left;
	display:block;
	padding:0 15px 10px 0;
	width:200px;
}

#links-box .links-element .element {
	float:left;
	padding:0 0 10px 0;
	display:block;
	width:385px;
}

#links-box .links-element .element .text {
	width:385px;
}

#links-src {
	display:none;
	
}

.access-link {
	width:238px;
	height: 58px;
	display:block;
	float:left;
	background:url(/images/sunny/links_list_item_nohover.png) top left no-repeat;
	margin:15px 5px 15px 0;
	color: #205a86;
	text-decoration:none;
	text-transform:uppercase;
	padding:10px;
	text-align:center;
	overflow:hidden;
}

.access-link:hover {
	background:url(/images/sunny/links_list_item_hover.png) top left no-repeat;
	text-decoration:none;
}

.access-link span {
	display:block;	
	text-transform:none;
	font-size:10px;
}

